/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin: 5%;
}

nav a {
	color: gray;
	text-decoration: none;
}

.nav_line {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	width: 100%;

}

header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin: 3% auto;
	align-items: center;
}


.main_title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 8% 0;
	}

.top_image {
    height: 450px;
    margin-left: 0;

}

.title_text {
    margin: 5% 10% 10% 20%;
    width: 350px;
    text-align: center;	

}


h1 {
    font-size: 500%;
}

.title_text h6 {

    border: 1px solid black;
    width: 200px;
    padding: 10px 0; 
    margin-left: 20%;
   
}

h6 a {
	text-decoration: none;
    color: black;
}

.top_section {
	border-bottom: 1px solid black;
}

.above_image {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 3% auto;
}

.below_image {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 3% auto;
}

.features_box {
	width: 45%;
}

.about_box {
	width: 45%;

}

.middle-img {
	width: 100%;
}

.services_box {
	width: 30%;
}

.product_box {
	width: 30%;
}

.vision_box {
	width: 30%;
}

.middle_section {
	border-bottom: 1px solid black;
	margin: 3% auto;
}

.copyright {
	text-align: center;
	margin: auto auto 5% auto;
}

.services-header-img {
	width: 100%;
}

.service-summary h3 {
	font-size: 200%;
}

.service-summary {
	margin: 5% auto;	
}

.service-rows {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 3% auto;
}

.service-box {
	width: 40%;
	background: #F3ECEB;
	padding: 2%;
	border: 1px solid black;
}

.learn-more {
	background: white;
	margin: 5%;
	display: block;
	width: 30%;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 5px;
	padding: 3% 4%;
	font-size: 75%;
	text-align: center;
}

.facts {
	width: 40%;
}

.services-info-img {
	width: 40%;
}

.section3 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 3% auto;
}

ul {
	list-style-type: square;
	display: block;
	margin: 4%;

}

@media (max-width: 800px) {
    header {
        flex-flow: column-reverse;
    }

    .logo {
        margin-bottom: 5%;
    }

    .top_image {
        display: none;
    }

    .main_title {
        margin: 5% 0;
    }

    .title_text {
        margin-left: 10%;
    }
}

